<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flightmanagementsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".infoActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".RatingActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".TicketDetailActivity"
            android:parentActivityName=".ViewCancelActivity"/>
        <activity android:name=".ViewCancelActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".BookingActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".InternationalFlightDetailActivity"
            android:parentActivityName=".InternationalActivity"/>
        <activity android:name=".InternationalActivity"
            android:parentActivityName=".EnquiryActivity"/>
        <activity android:name=".LocalFlightDetailActivity"
            android:parentActivityName=".LocalActivity"/>
        <activity android:name=".LocalActivity"
            android:parentActivityName=".EnquiryActivity"/>
        <activity android:name=".EnquiryActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ActivityHome"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".SignupActivity"
            android:parentActivityName=".LoginActivity"/>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:parentActivityName=".LoginActivity"/>
    </application>

</manifest>